*,*::after,*::before{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background: url(./images/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    width: 160px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: -1;
}
#earth_weapon::before{
    position: absolute;
    left: 45px;
    bottom: 140px;
    content: "";
    height: 70px;
    width: 70px;
    background: url(./images/weapon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.astroid{
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
}
.astroid img{
    height: 100%;
    width: 100%;
}
/* it will add blast animation  */
.blast::before{
    position: absolute;
    content: '';
    background-image: url(./images/blast.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}